.body {
	background: #E7E8E8
}

.section-1 {
  	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;

  	position: relative;
}

.section {
	visibility: hidden;
	position: relative;
}

.centered-container {
	position: relative;
	top: 25%;
  	transform: translateY(-25%);	
}

.intro-container {
	background: #E1E2E4;  
  	padding: 50px 20px 20px 20px;
  	margin-bottom: 20px;
  	border: 10px solid #EA6759;
  	/*border-bottom: 10px solid #EA6759;
  	border-top: 10px solid #EA6759;*/
}

.intro-line-1 {	
	/*font-weight: 900;	*/
	font-size: 50px;
}

.enroll {	
	margin-top: 40px;	
}

.enroll-link {
	border: 2px solid darkgray;
	padding: 7px;
	border-radius: 3px;
}

.overview-wrapper {	
	text-align: center;
}

.program-overview {
	margin-bottom: 60px
}

.overview-title {
	color: #EC4B75;
}

.explanation-question {
	color: #EC4B75;
}

.explanation-container {
	margin-top: 50px;
}

.skills-container {
	margin-bottom: 50px;
}

.next-section {
	position: absolute;
	bottom: 10px;
	width: 100%;
}

.next-section-arrow {
	margin-bottom: 0px;
}

.explanation-section {
	position: relative;
}

/* to be used for img resizing */
@media (max-device-width: 480px) { 
	.intro-line-1 {	
		font-weight: 900;	
		font-size: 85px;
	}
}