/*color pallete http://paletton.com/#uid=3040u0kjQtna0Lmfm-onZq9rkl5*/

.body {
	background: #E7E8E8
}

.section-1 {
  	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;

  	position: relative;
}

.section {
	visibility: hidden;
	position: relative;
}

.centered-container {
	position: relative;
	top: 25%;
  	transform: translateY(-25%);	
}

.intro-container {
	background: #E1E2E4;  
  	padding: 50px 20px 20px 20px;
  	margin-bottom: 20px;
  	/*border: 10px solid #EA6759;*/
  	border-bottom: 10px solid #FF9185;
  	border-top: 10px solid #FF9185;
}

.intro-line-1 {	
	/*font-weight: 900;	*/
	font-size: 50px;
}

.enroll {	
	margin-top: 40px;	
}

.enroll-link {
	border: 2px solid #777777;
	padding: 7px;
	border-radius: 3px;
}

.overview-wrapper {	
	text-align: center;
}

.program-overview {
	margin-bottom: 60px
}

.overview-title {
	color: #EC4B75;
}

.problem-intro {
	background: #89C030;
	width: 100%;
	color: white;
	padding: 20px 0 20px 0; 
	margin-top: 50px;
	margin-bottom: 0px;
}

.problem {
	/*border-right: 5px solid #227180;*/
	/*border-left: 5px solid #227180;*/
	/*border-bottom: 5px solid #227180;*/
}

.explanation-question {
	color: #EC4B75;
}

.explanation-container {	
	margin-bottom: 100px;	
}

.skills-container {
	margin-bottom: 50px;
}

.next-section {
	position: absolute;
	bottom: 10px;
	width: 100%;
}

.next-section-arrow {
	margin-bottom: 0px;
}

.explanation-section {
	position: relative;
}

.skill-header {
	text-decoration: underline;
	color: #EA6759;
}

.skills-image {
	height: 80px;
	margin: 20px 0 20px 0;
}


/* to be used for img resizing */
@media (max-device-width: 480px) { 
	.intro-line-1 {	
		font-weight: 900;	
		font-size: 85px;
	}
}