<!-- Portfolio Grid Section -->
    <section id="program" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-center">Our Program</h2><br>
                    <h4 class="service-heading">We use entrepreneurship as a way to engage a broader range of students than traditional STEM programs. We seek to especially  empower students who are struggling with traditional schooling or coming from a low-income background. Entrepreneurship gives these students the ability to create value independent of a system that may be biased or broken. Through Launch Studio, students from all backgrounds gain the entrepreneurial skills necessary to start and run their own profitable businesses and the critical thinking skills that will benefit them in all aspects of life.</h4>
                    <h4 class="service-heading">Our program fosters an experiential learning environment by forcing students to leave their comfort zone and take risks. Their learnings and the projects they work on relate directly to the real world as they  enter the community and sell their products to strangers, partner with local businesses, and solicit feedback from potential customers. Young entrepreneurs work on the three tenets of our program -- making, design, and entrepreneurship -- to build their businesses. They walk away with a small business they can continue to work on, not to mention the confidence that they can create opportunities for themselves. You can find an overview of our program <a href="/Launch-Studio-Prototype-of-Pedagogy.pdf">here</a>.</h4>

<!--                     <h3 class="section-subheading text-muted"> Our program takes on various shapes and forms, specifically as an intersession workshop at Design Tech High School, as a two-week intensive camp during the summer, and as an afterschool program in partnership with the <a href="http://www.afterschoolallstars.org/"> After-School All-Stars</a>. We are excited to take on new challenges as we expand to more schools in the Bay Area and share our curriculum with teachers across the country.</h3> -->

<!-- Students use tools and resources from the program and their everyday lives to build and sell products in their schools, communities, and online. Using advanced tools and machines, students are given the opportunity to take their idea from sketches to prototypes to products. They are exposed to new technologies and gain confidence in their ability to learn new skills. By pitching their ideas to strangers on the street, approaching others for feedback, and striking partnerships with local businesses, students have the experience of succeeding with the support of their community.  -->

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">What do students actually <b>do</b>?</h3>
                </div>
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
