<!-- Portfolio Grid Section -->
    <section id="program" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Program</h2>
                    <h3 class="section-subheading text-muted"> A makerspace classroom with an entrepreneurial curriculum, Launch Studio was founded with the goal of helping middle and high school students gain practical business skills through creating and selling their own products. Our team was initially inspired by our experiences at Olin College of Engineering, where we saw first-hand the benefit of hands-on learning and the impact of acquiring skills that are immediately useful. During the time we spent observing and working in K-12 classrooms, we found that most public schools are preparing students for the problems they’ll face 10 or 15 years down the line, assuming they follow the cookie cutter path of college and career, rather than addressing the challenges that the students currently face in their everyday lives. We wanted to introduce a different type of opportunity for these students, particularly within Title 1 schools. 
                    <br>
                    <br>
                    Entrepreneurship is a way to engage and empower all students regardless of the path they choose after leaving the primary school system. Especially for low income students, whose main concern can be how to provide for themselves and their family, entrepreneurship gives them the ability to create value independent of a system that may be biased or broken. Launch Studio aims to engage and empower students from all backgrounds by equipping them with the entrepreneurial skills necessary to start and run their own profitable businesses.</h3>

                    <h3 class="section-subheading text-muted"> Our program fosters an experiential learning environment by prioritizing creation and iteration, and gives students the opportunity to make sales from day one. Students use tools and resources from the program and their everyday lives to build and sell products in their schools, communities, and online. Using advanced tools and machines, students are given the opportunity to take their idea from sketches to prototypes to products. They are exposed to new technologies and gain confidence in their ability to learn new skills. By pitching their ideas to strangers on the street, approaching others for feedback, and striking partnerships with local businesses, students have the experience of succeeding with the support of their community. They walk away with the confidence that they can create opportunities for themselves.</h3>

                    <h3 class="section-subheading text-muted"> Our program takes on various shapes and forms, specifically as an intersession workshop at Design Tech High School, as a two-week intensive camp during the summer, and as an afterschool program in partnership with the <a href="http://www.afterschoolallstars.org/"> After-School All-Stars</a>. We are excited to take on new challenges as we expand to more schools in the Bay Area and share our curriculum with teachers across the country.</h3>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">What do students actually <b>do</b>?</h3>
                </div>
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
