<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Mission</h2>
                    <h3 class="section-subheading text-muted">"If a child can't learn the way we teach, maybe we should teach the way they learn" - Ignacio Estrada</h3>
                    <h4 class="service-heading">There is a fundamental disconnect between the skills students need to be successful in the 21st century and the education they're receiving. Too many students are both not being taught the vital skills to be competitive when they graduate and not being empowered to have ownership over their learning and their education. Rather, they're often pushed through a system that prioritizes and rewards standardized testing and measurable skills. </h4> 
                    <h4 class="service-heading"><br> <br> Launch Studio's mission is to give  <a href="https://nces.ed.gov/fastfacts/display.asp?id=158">Title I schools</a> the resources and support to provide students with a fundamentally different educational experience, where they are empowered to be creative and to take ownership over their education. </h4>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Digital Design and Fabrification</h4>
                    <p class="text-muted"><br>Students greatly improve their computer literacy, while getting comfortable designing, prototyping and iterating.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Real World Results for Real World Action.</h4>
                    <p class="text-muted">Our program is rooted in the fact that students respond to tangible rewards, such as money. The benefits of the class are very clear to students.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-signal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Non-profit mission with a startup mindset.</h4>
                    <p class="text-muted"> We're designing our curriculum so it can scale to have the impact we're see at one school at one hundred schools. </p>
                </div>
            </div>
        </div>
    </section>