<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-center">Our Mission</h2><br>
                    <h4 class="service-heading">Launch Studio was founded with the goal of helping middle and high school students gain practical business skills through creating and selling their own products.</h4>
                    <h4 class="service-heading">There is a fundamental disconnect between the education students are receiving and the skills they need to be successful. Students are not being taught vital skills, such as problem-solving and creative thinking, that are increasingly valued by employers. They leave school dissatisfied and unaware of the connections between what they are learning and the real world.</h4> 
                    <h4 class="service-heading">Launch Studio's mission is to give  <a href="https://nces.ed.gov/fastfacts/display.asp?id=158">Title I schools</a> the resources and support to provide students with a fundamentally different educational experience, where they are empowered to be creative and to take ownership over their learning. We want students to walk away from our program with new technical skills and a confidence that they have all the resources they need to make opportunities for themselves.</h4><br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Digital Design and Fabrication</h4>
                    <p class="text-muted">Students greatly improve their computer literacy while getting comfortable designing, prototyping, and iterating on various projects</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Actions Rooted in Real World Results</h4>
                    <p class="text-muted">Students are motivated to learn new skills when they can see tangible benefits to the work they are doing, and we set them up for these experiences</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Education is a Team Effort</h4>
                    <p class="text-muted">We shape our curriculum with direct feedback from students and educators, and it is designed to scale to reach hundreds of learning communities</p>
                </div>
            </div>
        </div>
    </section>