<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Team</h2>
                    <h3 class="section-subheading">The team met at <a href="http://www.olin.edu/">Olin College</a>, a young college known globally for its innovative pedagogy. At Olin, the team got a taste of the power of working on real-world projects and having ownership over their education. Combining their passion for innovating education and finding ways to level the playing field for students from all backgrounds, the team founded Launch Studio. </h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p >{{ member.position }}</p>
                        <p class="text-muted">{{ member.bio }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>