<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Team</h2>
                    <h3 class="section-subheading"> Our team was initially inspired by our experiences at <a href="http://www.olin.edu/">Olin College of Engineering</a>, where we saw first-hand the benefit of hands-on learning and the impact of acquiring skills that are immediately useful. During the time we spent observing and working in K-12 classrooms, we found that most public schools are preparing students for the problems they’ll face 10 or 15 years down the line, assuming they follow the cookie cutter path of college and career, rather than addressing the challenges that the students currently face in their everyday lives. We wanted to introduce a different type of opportunity for these students, particularly within Title 1 schools.  </h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p >{{ member.position }}</p>
                        <p class="text-muted">{{ member.bio }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>